{% extends 'authentication/index.html' %}
{% load static %}
{% block title %}
  <title>Search genre</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  <link rel="stylesheet" href="{% static 'css/post.css' %}" />
{% endblock %}
{% block content %}
  <div class="genre-main">
    <h1 class="genre-head">{{ genre }} Manga</h1>
    <hr />
    <div class="genre-post-list">
      {% if posts %}
        {% for image in posts %}
          <div class="image-gallery">
            <div class="image-item genre-image">
              <a href="{% url 'post_detail' image.id %}">
                <img class="profile-image" src="{{ image.photo.url }}" alt="Post Image" />
                <p>{{ image.title }}</p>
              </a>
              <span class="genre">Genre:{{ image.genre }}</span>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>No posts found matching your search criteria.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
