{% extends 'authentication/index.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}
  <title>Manga details</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  <link rel="stylesheet" href="{% static 'css/post.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
{% endblock %}
{% block content %}
  <main>
    <div class="main">
      <section class="manga-main-container">
        <h2>{{ post.title }}</h2>
        <img src="{{ post.photo.url }}" alt="{{ post.title }}" />
        <h2>Author:<span class="author">{{ post.author }}</span></h2>
        <h4>{{ post.genre }}</h4>
        <p>{{ post.description }}</p>
      </section>
      <section class="rating-section">
        {% if user.is_authenticated %}
          <form action="{% url 'post_detail' post.id %}" method="post">
            {% csrf_token %}
            <h4>write you review</h4>
            <div>
              <div class="rate">
                <input type="radio" name="rating" id="rating5" value="5" required /><label for="rating5" title="5"></label>
                <input type="radio" name="rating" id="rating4" value="4" required /><label for="rating4" title="4"></label>
                <input type="radio" name="rating" id="rating3" value="3" required /><label for="rating3" title="3"></label>
                <input type="radio" name="rating" id="rating2" value="2" required /><label for="rating2" title="2"></label>
                <input type="radio" name="rating" id="rating1" value="1" required /><label for="rating1" title="1"></label>
              </div><br />
              <label for="review">Review:</label>
              <textarea name="review" rows="5" class="form-control"></textarea><br />
              <button class="btn">submit</button>
              <hr>
            </div>
          </form>
          {% include 'alerts.html' %}
        {% else %}
          <h4 class="write-review">please login to write a review <a href="{% url 'login' %}">Login</a></h4>
        {% endif %}
        <section class="rating-section-1">
          <h4>Average Rating</h4>
          {% for i in rating_data %}
            <span class="fa fa-star {% if avg_rating >= i %}checked{% endif %}"></span>
          {% endfor %}
          <br />
          <p>{{ avg_rating|floatformat:1 }} average based on {{ rating_count }} reviews.</p>

          <div class="row">
            {% for key, value in rating_data.items %}
              <div class="side">
                <div>{{ key }} star</div>
              </div>
              <div class="star-div">
                <div class="middle">
                  <div class="bar-container">
                    <div class="bar-{{ key }}" style="width: {{ value }}%"></div>
                  </div>
                </div>
                <div class="side right">
                  <div>{{ value }}</div>
                </div>
              </div>
            {% endfor %}
          </div>
        </section>
      </section>
    </div>
    <section class="comment-section">
      <h1>Reviews:{{ reviews_count }}</h1>
      <ul class="comment-box">
        {% for rating in comments %}
          <li class="comment-list">
            <div class="user-profile">
              <a href="{% url 'profile' rating.user.username %}">
                <img class="profile-pic-comments" src="{{ rating.user.profileuser.profile_picture.url }}" alt="{{ rating.user.username }}'s profile picture" /><br />
                Reviewed by: {{ rating.user.username }} <br />
              </a>
              <hr>
              review added at:- {{ rating.timestamp }} <br />
              Rating given:- {{ rating.rating }}<br />
              Total comments:-{{ nested_comments_count|get_item:rating.id|default:'0' }}<br />
            </div>
            <p class="comment-para">
              {{ rating.review }}<br />
            </p>
            <button type="button" class="open-modal add-comment" data-rating-id="{{ rating.id }}">Comment</button>
            <form action="{% url 'like_post' rating.id %}" data-rating-id="{{ rating.id }}" method="post" class="like-form">
              {% csrf_token %}
              <button type="submit" class="like-button {% if request.user in rating.likes.all %}liked{% endif %}" name="review_id" value="{{ rating.id }}" data-rating-id="{{ rating.id }}">
                {% if request.user in rating.likes.all %}
                  Unlike
                {% else %}
                  Like
                {% endif %}
              </button>
              <span id="like-count-{{ rating.id }}">{{ rating.likes.count }}</span>
            </form>
          </li>
          <ul id="nested-comments-{{ rating.id }}" class="nested-comment">
            {% for comment in rating.comments.all %}
              <li class="nested-comment-list">
                <div class="user-profile">
                  <a href="">
                    <img class="profile-pic-comments" src="{{ comment.user.profileuser.profile_picture.url }}" alt="{{ comment.user.username }}'s profile picture" /><br />
                    commented by: {{ comment.user.username }} <br />
                  </a>
                  <hr>
                  comment at:{{ comment.timestamp }}
                </div>
                <p class="comment-para">{{ comment.comment }}</p> <br />
              </li>
            {% endfor %}
          </ul>
          <button id="show-more-button-{{ rating.id }}" class="show-more-button" onclick="toggleNestedComments({{ rating.id }})">Show Comments for this review</button>
        {% endfor %}
      </ul>
      <div id="commentModal" class="modal">
        <div class="modal-content">
          <span class="close">X</span>
          <h2>Add a Comment</h2>
          <form id="commentForm" method="post" action="" data-base-url="{% url 'add_comment_to_review' 0 %}">
            {% csrf_token %}
            <textarea name="comment" class="form-control"></textarea><br />
            <button type="submit" class="btn">Add Comment:</button>
          </form>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
