* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}

html {
    background-image: linear-gradient(#FFECD2, #FCB69F);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

header {
    background-color: #ca2f2f;
    color: white;
    padding: 10px;
}

.header-container {
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#logo-div>h1>a {
    margin: 0;
    color: white;
    text-decoration: none;
}

#logo-div>h1>a>h1 {
    font-size: 3.125rem;

}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin-top: 0.9375rem;

}

.navbar ul li {
    margin-right: 1.25rem;

}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5625rem;
    margin-top: 0.625rem;

}

.navbar li a:hover {
    background-color: #af5a5a;
    border-radius: 0.625rem;

    padding: 0.3125rem;

}

.active {
    background-color: #6ebecc;
    border-radius: 0.625rem;

    padding: 0.3125rem;

}

.menu-btn {
    display: none;
}

.close-btn {
    font-size: 1.875rem;

    cursor: pointer;
    position: absolute;
    top: 0.625rem;

    right: 1.25rem;

    background: none;
    border: none;
    display: none;
}

a {
    text-decoration: none;
}

.section-home-container .aside-container {
    max-width: 68.75rem;
    margin: 0 auto;
    padding: 20px;
}

.navbar.active {
    display: block;
}

.search-container input[type=text] {
    padding: 0.375rem;
    margin-top: 0.5rem;
    font-size: 1.0625rem;
    display: inline;
    width: 400px;
}

.search-container button {
    padding: 0.375rem;
    margin-top: 0.5rem;
    background: #ddd;
    font-size: 1.0625rem;
    border: none;
    cursor: pointer;
}

.genre-list li a {
    color: black;
}

.genre-list li {
    list-style: none;
    margin: 0.625rem 0 0.625rem 0.625rem;

}

.search-div {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.genre-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0.625rem auto;
}

.login-container {
    width: 90%;
    max-width: 25rem;

    margin: 3.125rem auto;

    padding: 1.25rem;

    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 0.625rem;

    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container form label {
    margin-bottom: 0.3125rem;
    font-weight: bold;
    color: #333;
}

.login-container form input {
    padding: 0.625rem;

    margin-bottom: 0.9375rem;

    border: 1px solid #ccc;
    border-radius: 0.3125rem;
    font-size: 1rem;

}

.login-container form input:focus {
    border-color: blue;
    outline: none;
}

.login-container button {
    padding: 0.625rem 1.25rem;
    background-color: #007bff;
    border: none;
    border-radius: 0.3125rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 0.625rem;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #0056b3;
}

.login-container button a {
    color: white;
    text-decoration: none;
}

.login-container .signup-button {
    background-color: #28a745;
    margin-top: 0.625rem;

}

.login-container .signup-button:hover {
    background-color: #218838;
}

#forgot {
    margin-left: 0.625rem;
}

.login-container .messages {
    margin-top: 1.25rem;
    color: green;
    font-size: 1rem;
    font-weight: bold;
}

.signup-container {
    width: 90%;
    max-width: 25rem;
    margin: 3.125rem auto;
    padding: 1.25rem;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 0.625rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.signup-container form {
    display: flex;
    flex-direction: column;
}

.signup-container form label {
    margin-bottom: 0.3125rem;
    font-weight: bold;
    color: #333;
}

.signup-container form input {
    padding: 0.625rem;

    margin-bottom: 0.3125rem;
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
    font-size: 1rem;

}

.signup-container form input:focus {
    border-color: blue;
    outline: none;
}

.signup-container button {
    padding: 0.625rem 1.25rem;
    background-color: #007bff;
    border: none;
    border-radius: 0.3125rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 0.625rem;
    transition: background-color 0.3s;
}

.signup-container button:hover {
    background-color: #0056b3;
}

.signup-container .messages p {
    margin-top: 1.25rem;
    color: red;
    font-size: 1rem;
    font-weight: bold;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.profile-view-container {
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}

.profile-view-container .profile-view {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.friends-list ul li {
    list-style: none;
    padding-bottom: 10px;
}

.friends-list {
    width: 12.5rem;
    box-shadow: 0 0 0.3125rem 0.0625rem rgba(0, 0, 0, 0.3);
    border-radius: 0.625rem;
    padding-top: 0.625rem;
    background-color: #f9f9f9;
}

.friend-request-form {
    margin-top: 0.625rem;

}

.friend-request-form .ok {
    background-color: #4CAF50;
    color: white;
    padding: 0.625rem 0.625rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.25rem 0.125rem;
    cursor: pointer;
    border-radius: 0.25rem;
    border: none;
}

.friend-request-form .cancel {
    background-color: #dd0416;
    color: white;
    padding: 0.625rem 0.625rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.25rem 0.125rem;
    cursor: pointer;
    border-radius: 0.25rem;
    border: none;
}

.friend-request-form button:hover {
    background-color: #45a049;
}

.profile-div {
    width: 12.5rem;
    box-shadow: 0 0 0.3125rem 0.0625rem rgba(0, 0, 0, 0.3);
    border-radius: 0.625rem;
    padding: 0.625rem;
    background-color: #f9f9f9;

}

.profile-view-container .profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.25rem;

}

.profile-view-container .profile-picture {
    border-radius: 50%;
    width: 9.375rem;
    height: 9.375rem;
    object-fit: cover;
}

.profile-view-container .profile-details {
    margin-top: 1.25rem;

}

.profile-view-container .profile-details p {
    margin: 0.625rem 0;
}

.profile-view-container .profile-images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.25rem;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;

}

.profile-view-container .profile-images img {
    width: 9.375rem;
    height: 12.5rem;
    margin: 0.625rem;
    border-radius: 0.625rem;

}

.profile-view-container .profile-images .images-data{
    box-shadow: 0 0 0.625rem 0.125rem rgba(0, 0, 0, 0.4);
    padding-bottom: 0.625rem;
    border-radius: 0.625rem;
    background-color: #f9f9f9;
    width: 170px;
}
.images-data h3{
    width: 150px;
}
.image-item {
    box-shadow: 0 0 0.625rem 0.125rem rgba(0, 0, 0, 0.4);
    border-radius: 0.625rem;
    background-color: #f9f9f9;
    width: 200px;
    padding: 10px;
}

.profile-view-container .profile-images::after {
    content: '';
    display: block;
    width: 100%;
    margin-top: 1.25rem;

}

hr {
    margin: 0.625rem 0;
}

.profile-form-container {
    max-width: 31.25rem;
    margin: 1.875rem 0.3125rem 0.3125rem 0.3125rem;
    padding: 1.25rem 1.25rem 1.25rem 0.625rem;
    border: 1px solid #ccc;
    border-radius: 0.625rem;
    background-color: #f9f9f9;
    float: right;
}

.profile-picture {
    width: 12.5rem;
    height: 12.5rem;
}

.profile-image-follow p {
    margin-left: 1.25rem;

}

.profile-image {
    width: 12.5rem;
    height: 18.75rem;
    border-radius: 0.5rem;
    margin-right: 1.25rem;

}

.image-item {
    margin-bottom: 1.25rem;
    text-align: center;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding-top: 20px;

}

p {
    font-size: 1.5625rem;
    margin-bottom: 0.625rem;

}

.profile-label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.3125rem;
}

input[type=text],
input[type=email] {
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 0.9375rem;
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
    box-sizing: border-box;
}

.profile-submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
}

.profile-submit-button:hover {
    background-color: #45a049;
}

.edit-post {
    display: flex;
    justify-content: space-around;
}

.edit-button {
    background-color: #7267ce;
    color: white;
    border: none;
    padding: 0.3125rem 0.625rem;
    cursor: pointer;
    border-radius: 0.3125rem;
}
.edit-button:hover{
    background-color: #503feb

}

.profile-error {
    color: red;
    font-size: 0.875rem;

    margin-top: 0.3125rem;
}

.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 0.3125rem 0.625rem;
    cursor: pointer;
    border-radius: 0.625rem;

}

.delete-button:hover {
    background-color: rgb(226, 127, 34)
}

.password-form-container {
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
    max-width: 25rem;
    margin: 3.125rem auto;
    width: 100%;
}

.form-group {
    margin-bottom: 0.9375rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.form-group label {
    margin-right: 0.625rem;

    text-align: right;
}

.form-group input {
    padding: 0.625rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
}

.form-group button {
    width: 100%;
    padding: 0.625rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    font-size: 1rem;

}

.form-group button:hover {
    background-color: #0056b3;
}

.errors {
    color: #ee0606;
}

.messages {
    transition: opacity 0.5s ease-out;
}

.fade-out {
    opacity: 0;
}

.post-list {
    max-width: 31.25rem;

    margin: 0 auto;
}

.post-list h1 {
    margin: 0 0 2.5rem 3.75rem;
    font-size: 1.25rem;

}

@media screen and (max-width: 48rem) {


    main {
        max-width: 18.75rem;

        margin: 0 auto;
    }

    .main-container {
        flex-direction: column-reverse;
        align-items: center;
        margin: 0 auto;
    }

    #logo-div>h1>a>h1 {
        font-size: 1.5625rem;

    }

    .profile-form-container {
        max-width: 18.75rem;

        padding: 0.625rem;

    }

    .signup-container,
    .login-container {
        max-width: 18.75rem;

        padding: 0.625rem;

    }

    .signup-container form input,
    .login-container form input {
        font-size: 0.875rem;

        padding: 0.5rem;

    }

    .signup-container button,
    .login-container button {
        font-size: 0.875rem;
        padding: 0.5rem 0.9375rem;
    }

    .password-form-container {
        max-width: 15.625rem;

    }

    .header-container {
        max-width: 25rem;
        margin: 0.625rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        display: none;
        width: 100%;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul li {
        margin-right: 0;
        margin-bottom: 0.625rem;

    }

    .menu-btn {
        display: block;
        width: 3.125rem;

        float: right
    }

    .form-group {
        grid-template-columns: 1fr;
    }

    .form-group label {
        text-align: left;
        margin-bottom: 0.3125rem;

    }

    .form-group input {
        width: 100%;
    }

    .close-btn {
        display: block;
    }

    .search-container input[type=text] {
        width: 12.5rem;
    }
}