.post-container {
    width: 600px;
    margin: 20px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

label {
    font-weight: bold;
    font-size: 18px;
}

.post-container .post-form-group {
    margin-bottom: 15px;
}

.post-container .post-form-group label {
    display: block;
    font-weight: bold;
}

.post-container .post-form-group input[type="text"],
.post-container .postform-group textarea {
    width: 550px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.post-container .post-form-group input[type="file"]{
    width: 530px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.post-container .error {
    color: red;
    font-size: 0.875em;
}

.post-container .submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.post-container .submit-button:hover {
    background-color: #45a049;
}

.author {
    font-size: 20px;
    color: #00bcd4;
}

/* edit_post */

.edit-main-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-main-container h2 {
    color: #333;
    margin-bottom: 20px;
}

.edit-main-container form {
    display: flex;
    flex-direction: column;
}

.edit-main-container form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.edit-main-container form input,
.edit-main-container form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.edit-main-container form button {
    padding: 10px;
    color: #fff;
    background-color: #c57373;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.edit-main-container form button:hover {
    background-color: #5b7fce;
}

.edit-main-container .profile-submit-button {
    align-self: flex-start;
}

/* rating */
.rate>input {
    display: none;
}

.rate {
    display: inline-block;
    border: 0;
}

.rate>label {
    float: right;
}

.rate>label:before {
    display: inline-block;
    font-size: 1.1rem;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem 0.2rem;
    cursor: pointer;
}

input:checked~label,
label:hover~label {
    color: #ffb503;
}

input:checked+label:hover,
input:checked~label:hover,
input:checked~label:hover~label,
label:hover~input:checked~label {
    color: #cc9000;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}


.manga-main-container {
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px  rgba(28, 29, 31, 0.25);
    background-color: #f9f9f9;
    padding: 20px;
}

.manga-main-container>h2 {
    font-size: 24px;
    font-weight: bold;
}

.manga-main-container>img {
    height: 350px;
    width: 300px;
    border-radius: 10px;
    margin: 0 auto;
}
.write-review{
    font-size: 20px;
    margin-bottom: 10px;
}

.manga-main-container>p {
    margin-top: 20px;
    font-size: 18px;
    width: 280px;
    height: 250px;
    overflow: auto;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 1px  rgba(28, 29, 31, 0.25);

}


.heading {
    font-size: 25px;
    margin-right: 25px;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

.side {
    width: 15%;
    margin-top: 10px;
}

.middle {
    margin-top: 10px;
    float: left;
    width: 70%;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.rating-section {
    margin: 20px 20px 15px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px  rgba(28, 29, 31, 0.25);
    padding:20px;
    background-color: #f9f9f9;

}
.rating-section textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

.star-div {
    display: flex;
}

.right {
    margin-left: 10px;
}

.bar-5 {
    height: 18px;
    background-color: #04AA6D;
}

.bar-4 {
    height: 18px;
    background-color: #2196F3;
}

.bar-3 {
    height: 18px;
    background-color: #00bcd4;
}

.bar-2 {
    height: 18px;
    background-color: #ff9800;
}

.bar-1 {
    height: 18px;
    background-color: #f44336;
}



#ratingForm button[type="submit"] {
    background-color: #4CAF50;
    /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#ratingForm button[type="submit"]:hover {
    background-color: #45a049;
}


.comment-section {
    max-width: 1200px;
    margin: 0 auto;
}

.comment-section h1 {
    margin: 0px 0 20px 20px;
}

.comment-section img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.comment-box {
    margin-left: 20px;
}

.comment-list{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
    margin: 20px 20px 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px  rgba(28, 29, 31, 0.25);
    padding:5px 0px 10px 10px;
    background-color: #f9f9f9;

}
.user-profile{
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px  rgba(28, 29, 31, 0.25);
    padding:5px 0px 10px 10px;
    margin:10px 0;


}
.nested-comment-list{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px  rgba(28, 29, 31, 0.25);
    padding:5px 0px 0px 10px;
    max-width: 500px;
    margin: 20px auto;
    background-color: #f9f9f9;


}

.comment-para {
    max-width: 600px;
    height: 150px;
    overflow-y: auto;
    font-size: 20px;
    margin:10px 0 10px 0;
}

.comment-section .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.comment-section .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}
.modal .form-control{
    width: 90%;
    height: 200px;
}
.comment-section .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.comment-section .close:hover,
.comment-section .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.open-modal {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    grid-column: 2;
    grid-row: 2;
}
.btn{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background-color: #0056b3;
}
.open-modal:hover {
    background-color: #0056b3;
}
.open-modal a{
    color:  white;
}

.comment-section ul li {
    list-style: none;
}


.nested-comment-list>div {
    margin: 0px 20px 20px 0;
}
.nested-comment-list  p{
    font-size: 20px;
    overflow-y: auto;
    max-height:150px;
    padding-top: 10px;
}
.nested-comment {
    display: none;
}

.show-more-button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(80, 108, 185);
    padding: 5px;
    margin-bottom: 20px;
    font-size: 14px;
}


.show-more-button:hover {
    color: darkblue;
    text-decoration: underline;
}

.like-button, .follow-button {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}

.like-button:hover, .follow-button:hover  {
    background-color: #e2e6ea;
    color: #000;
}

.like-button.liked, .unfollow {
    background-color: #007bff;
    color: #fff;
    border-color: #0056b3;
}

.like-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.genre-main{
    max-width: 1200px;
    margin: 20px auto;
}
.genre-image{
    max-width: 200px;
}
.genre-post-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 30px;
    justify-content: center;
}
.dummy-profile-container {
    max-width: 1200px;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 10px;
    margin: 0 auto;
}

.dummy-profile-container  .profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.profile-details p{
    font-size: 20px;
}

.dummy-profile-container  .profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.dummy-profile-container  .profile-details {
    margin-top: 20px;
}

.dummy-profile-container  .profile-details p {
    margin: 10px 0;
}
.dummy-profile-container  .profile-div{
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 20px;
    box-shadow: 0 0 10px 1px  rgba(28, 29, 31, 0.25);

}
.manga-post{
    width: 150px;
    height: 200px;
    border-radius: 10px;
    margin: 10px;
}
.dummy-profile-image{
    display: flex;
    flex-wrap: wrap;
}

/* Example of making form fields responsive */
@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .form-group input[type="text"],
    .form-group input[type="file"],
    .form-group textarea {
        width: 90%;
    }

    .post-container {
        width: 80%;
    }

    .side,
    .middle {
        width: 100%;
    }
    .manga-main-container{
        padding: 10px;
    }

    .edit-main-container {
        max-width: 300px;

    }

    form input,
    form textarea {
        width: 95%;
    }
    .comment-section {
        max-width: 1200px;
        margin: 0 auto;
    }


    .comment-box {
        margin-left: 0;
    }

    .comment-list{
        grid-template-columns:1fr;

    }
    .nested-comment-list{
        grid-template-columns: 1fr;
    }

    .comment-para {
        font-size: 16px;
    }

    .nested-comment-list  p{
        font-size: 20px;
        overflow-y: auto;
        height: 150px;
        padding-top: 10px;
    }
    .open-modal {
        grid-column: 1;
        grid-row: 4;
    }


}