{% extends 'authentication/index.html' %}
{% load static %}
{% block title %}
  <title>Change password</title>
{% endblock %}
{% block content %}
  <main>
    <div class="password-form-container">
      <form method="post">
        {% csrf_token %}
        {% for fm in form %}
          <div class="form-group">{{ fm.label_tag }}{{ fm }} {{ fm.errors|striptags }}</div>
        {% endfor %}
        <button type="submit">Submit</button>
        {% include 'alerts.html' %}
      </form>
    </div>
  </main>
{% endblock %}
