<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
      <title>Home</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  </head>
  <body>
    <header>
      <div class="header-container">
        <div id="logo-div">
          <h1><a href="{% url 'home' %}"><h1>MangaWeebs</h1></a></h1>
        </div>
        <nav class="navbar">
          <button class="close-btn">X</button>
          <ul>
            <li>
              <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a>
            </li>
            {% if user.is_authenticated %}
              <li>
                <a href="{% url 'profile' request.user.username %}" class="{% if request.resolver_match.url_name == 'profile_view' %}active{% endif %}">profile</a>
              </li>
              <li>
                <a href="{% url 'posts' %}" class="{% if request.resolver_match.url_name == 'posts' %}active{% endif %}">Create post</a>
              </li>
              <li>
                <a href="{% url 'logout' %}" class="{% if request.resolver_match.url_name == 'logout' %}active{% endif %}">Log Out</a>
              </li>
            {% else %}
              <li>
                <a href="{% url 'login' %}" class="{% if request.resolver_match.url_name == 'login' %}active{% endif %}">Log In</a>
              </li>
              <li>
                <a href="{% url 'login' %}">post</a>
              </li>
            {% endif %}
          </ul>
        </nav>
        <button class="menu-btn">☰</button>
      </div>
    </header>
    {% block content %}
      <div class="search-div">
        <div class="search-container">
          <form method="post" action="{% url 'search' %}">
            {% csrf_token %}
            <input type="text" placeholder="Search by title" name="search" />
            <button type="submit">Search</button>
          </form>
        </div>
        <div>
          <ul class="genre-list">
            {% for genre in genres %}
              <li>
                <button><a href="{% url 'genre_posts' genre %}">{{ genre }}</a></button>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <main>
        <section class="section-home-container">
          <div class="aside-container">
            <h2>Welcome to home page</h2>
            <hr />
            <div class="image-gallery">
              {% for image in images %}
                <div class="image-item">
                  <a href="{% url 'post_detail' image.id %}">
                    <img class="profile-image" src="{{ image.photo.url }}" alt="Post Image" />
                    <p>{{ image.title }}</p>
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </section>
      </main>
    {% endblock %}
    <script src="{% static 'js/home.js' %}"></script>
  </body>
</html>
