{% extends 'authentication/index.html' %}

{% load static %}

{% block title %}
  <title>Profile</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  <link rel="stylesheet" href="{% static 'css/post.css' %}" />
{% endblock %}

{% block content %}
  <div class="profile-view-container">
    <div class="profile-view">
      <div class="profile-div">
        <div class="profile-header">
          <img class="profile-picture" src="{{ profile_details.profile_picture.url }}" alt="{{ profile_user.username }}'s profile picture" />
          <h1>{{ profile_user.username }}</h1>
        </div>
        <div class="profile-details">
          <p>
            <strong>Gender:</strong> {{ profile_details.get_gender_display }}
          </p>
          <p>
            <strong>Followers:</strong> {{ followers_count }}
          </p>
          <p>
            <strong>Following:</strong> {{ following_count }}
          </p>
          {% if is_own_profile %}
            <button class="open-modal"><a href="{% url 'profile_edit' %}">Edit Profile</a></button>
          {% endif %}
          <div class="friend-requests">
            {% if not is_own_profile and not are_friends %}
              {% if friend_request_sent %}
                <form action="{% url 'cancel_friend_request' friend_request_sent.id %}" method="post" class="friend-request-form">
                  {% csrf_token %}
                  <button type="submit" class="cancel">Cancel Friend Request</button>
                </form>
              {% else %}
                <form action="{% url 'send_friend_request' profile_user.username %}" method="post" class="friend-request-form">
                  {% csrf_token %}
                  <button type="submit" class="ok">Send Friend Request</button>
                </form>
              {% endif %}
            {% endif %}
            {% if is_own_profile %}
              {% if friend_request_received %}
              <p>Friend request send by {{friend_request_received.from_user.username}}</p>
                <form action="{% url 'accept_friend_request' friend_request_received.id %}" method="post" class="friend-request-form">
                  {% csrf_token %}
                  <button type="submit" class="ok">Accept Friend Request</button>
                </form>
                <form action="{% url 'reject_friend_request' friend_request_received.id %}" method="post" class="friend-request-form">
                  {% csrf_token %}
                  <button type="submit" class="cancel">Reject Friend Request</button>
                </form>
              {% endif %}
            {% endif %}
          </div>
          {% if request.user != profile_user %}
            {% if is_following %}
              <form action="{% url 'follow' profile_user.username %}" method="post">
                {% csrf_token %}
                <button class="unfollow follow-button" type="submit">Unfollow</button>
              </form>
            {% else %}
              <form action="{% url 'follow' profile_user.username %}" method="post">
                {% csrf_token %}
                <button class="follow follow-button" type="submit">Follow</button>
              </form>
            {% endif %}
          {% endif %}
        </div>
      </div>
      <div class="friends-list">
        <h2>Friends</h2>
        <hr />
        <ul>
          {% for friend in friends %}
            <li>
              <a href="{% url 'profile' friend.username %}">{{ friend.username }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <hr />
    <div class="profile-images">
      {% for image in images %}
        <div class="images-data">
          <div>
            <a href="{% url 'post_detail' image.id %}">
              <img src="{{ image.photo.url }}" alt="{{ image.title }}" /><br />
              <h3>{{ image.title }}</h3>
            </a>
            {% if is_own_profile %}
              <div class="edit-post">
                <form action="{% url 'delete' image.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="delete-button">Delete</button>
                </form>
                <button><a href="{% url 'edit' image.id %}" class="edit-button">Edit</a></button>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
