{% extends 'authentication/index.html' %}
{% load static %}
{% block title %}
  <title>Profile Edit</title>
{% endblock %}

{% block content %}
  <div class="main-container">
    <section class="profile-form-container">
      <h2>Edit Profile:</h2>
      <div class="profile-image-follow">
        {% if profile_form.instance.profile_picture %}
          <img class="profile-picture" src="{{ profile_form.instance.profile_picture.url }}" alt="Profile Picture" />
        {% else %}
          <!-- Display the default profile picture from the media path -->
          <img class="profile-picture" src="/media/profile_pictures/default.jpg" alt="Default Profile Picture" />
        {% endif %}
      <hr />
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for fm in profile_form %}
          <label class="profile-label">{{ fm.label_tag }}</label>
          {{ fm }}
          <div class="profile-error">{{ fm.errors|striptags }}</div>
        {% endfor %}
        {% for fm in user_form %}
          <label class="profile-label">{{ fm.label_tag }}</label>
          {{ fm }}
          <div class="profile-error">{{ fm.errors|striptags }}</div>
        {% endfor %}

        <button type="submit" class="profile-submit-button">Save changes</button>
        <button><a href="{% url 'changepassword' %}">change password with old password</a></button>
      </form>
      {% include 'alerts.html' %}
    </section>
  </div>
{% endblock %}
