{% extends 'authentication/index.html' %}
{% load static %}
{% block title %}
  <title>Signup</title>
{% endblock %}
{% block content %}
  <div class="signup-container">
    <form method="post" novalidate>
      {% csrf_token %}
      {% for fm in form %}
        {{ fm.label_tag }}{{ fm }} <div class="errors">{{ fm.errors|striptags }} <br /></div>
      {% endfor %}
      <button>Signup</button>
    </form>
    {% include 'alerts.html' %}
  </div>
{% endblock %}
